<!-- Evento 1 -->
<div class="agenda-card">
    <div class="agenda-main">
        <div class="agenda-date">
            <span class="day">{{concert.day}}</span>
            <span class="month">{{concert.month}}</span>
        </div>
        <div class="agenda-details">
            <h3 class="event-name">{{concert.name}}</h3>
            {% if concert.location %}
            <p class="event-info">{{concert.location}}</p>
            {% endif %}
            <span class="event-time">⏰ {{concert.time}}</span>
        </div>
        <div class="agenda-action">
            <button class="btn-details" onclick="toggleDetails('{{concert.id}}')">Detalhes</button>
            <a href="{{concert.buttonLink}}" target="_blank" class="btn-agenda">{{concert.buttonText}}</a>
        </div>
    </div>

    <!-- Painel Expansível -->
    <div id="{{concert.id}}" class="agenda-expand">
        <div class="expand-content">
            {% if concert.address %}
                <p><strong>📍 Morada:</strong> {{concert.address}}</p>
            {% endif %}
            {% if concert.mapsUrl %}
                <p>🗺️ <a href="{{concert.mapsUrl}}" target="_blank" class="map-link">
                        Ver no Google
                        Maps</a></p>
            {% endif %}
            {% if concert.websiteUrl %}                    
                <p><strong>🌐 Link:</strong> <a href="{{concert.websiteUrl}}" class="map-link"
                    target="_blank">{{concert.websiteUrl}}</a></p>
            {% endif %}
            {% if concert.phone %}                    
                <p><strong>📞 Contacto:</strong> 
                    <a class="map-link" href="tel:{{concert.phone}}">{{concert.phone}}</a>
                </p>
            {% endif %}                
            {% if concert.email %}
            <p><strong>✉️ Email:</strong> <a href="mailto:{{concert.email}}" class="map-link"
                    target="_blank">{{concert.email}}</a></p>
            {% endif %}
            {% if concert.info %}
                <p><strong>ℹ️ Info:</strong> {{concert.info}}</p> 
            {% endif %}
        </div>
    </div>
</div>