<div class="zrq-concerts">
    <img class="img-responsive img-center zrq-center-img active" src="/assets/img/1114x373_v01.avif" alt="The Invisible Tuba">
    <div id="venue" class="zrq-we-have-a-gig section container-fluid no-padding grey-bg">
        <div class="sv__container--sm">
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <!-- SECÇÃO AGENDA DE CONCERTOS -->
                    <section id="agenda" class="agenda-section">
                        <div class="agenda-container">
                            <div class="agenda-header">
                                <h2 class="agenda-title">Concert Schedule</h2>
                                <p class="agenda-intro">Come dance with us! Discover where the next gig will be.</p>
                            </div>
                            <div class="agenda-list">
                                {% for concert in concerts %}
                                {% if concert.isEnabled %}
                                {% include "_concert_card_en.html" %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>