<div class="zrq-concerts">
<img class="img-responsive img-center zrq-center-img active" src="/assets/img/2560_1440_v05.avif" alt="The Invisible Tuba">
    <div id="venue" class="zrq-we-have-a-gig section container-fluid no-padding">
        <div class="sv__container--sm">            
            <div class="row no-margin">
                <div class="sv-wrapper">
                    <!-- SECÇÃO AGENDA DE CONCERTOS -->
                    <section id="agenda" class="agenda-section">
                        <div class="agenda-container">
                            <div class="agenda-header">
                                <h2 class="agenda-title">Agenda de Concertos</h2>
                                <p class="agenda-intro">Vem dançar connosco! Descobre onde será a próxima festa.</p>
                            </div>
                            <div class="agenda-list">
                                {% for concert in concerts %}
                                {% if concert.isEnabled %}
                                {% include "_concert_card.html" %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>