@charset "UTF-8";

/* 
=================
GENERIC
=================
*/
.zrq-hide-me {
  display: none;
}

.zrq-brown-color {
  color: #af8c45
}

.zrq-red {
  color: red;
}

.zrq-country-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


.zrq-newsletter-modals .modal-content {
  background-color: white;
}

.zrq-newsletter-modals .modal-header {
  text-align: right;
}

.zrq-newsletter-modals .modal-header h3 {
  float: left;
}



/* 
=================
_header.html
=================
*/
.zrq-header .zrq-logo {
  top: -20px;
  position: fixed !important;
  width: 120px !important;
  height: 120px !important;
}

.zrq-header .zrq-logo img {
  width: 120px !important;
  height: 120px !important;
}

.zrq-header .zrq-logo img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* 
=================
_footer.html
=================
*/
.zrq-footer .zrq-logo {
  width: 200px !important;
  height: 200px !important;
}

.zrq-footer .zrq-logo img {
  width: 200px !important;
  height: 200px !important;
}

.zrq-footer .zrq-center {
  text-align: center;
}

.zrq-footer .zrq-logo img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.zrq-footer .zrq-cookies {
  text-align: center;
  color: #fff;
  padding-bottom: 3rem;
}

.zrq-footer .zrq-zapezape {
  width: 250px;
}


.zrq-footer .zrq-normal-text {
  text-transform: none;
  color: #b91d1d;
  font-style: italic;
}




/* 
=================
index.html
=================
*/

.zrq-page-index .zrq-top {
  margin-top: 2rem;
}

.zrq-page-index .zrq-hero-slider i {
  padding: 0px;
}

.zrq-page-index .zrq-musicians .maintext {
  transform: translateY(-36px);
  background-color: #252525a4;
}

.zrq-page-index .zrq-musicians .subtext {
  transform: translateY(0);
  background-color: #252525a4;
}


.zrq-page-index .zrq-hero-slider .sv-feature-headline {
  /* font-size: 2rem !important; */
  background-color: rgba(0, 0, 0, 0.5);
}

.zrq-page-index .zrq-hero-slider .sv-feature-subtitle {
  background-color: rgba(0, 0, 0, 0.5);
}

/* zrq-hero-slider for mobile */
.zrq-page-index .zrq-hero-slider.zrq-hero-slider-mobile .sv-feature-subtitle {
  font-size: 1.2rem !important;
}

/* zrq-hero-slider for mobile */
.zrq-page-index .zrq-hero-slider.zrq-hero-slider-mobile .sv-feature-headline {
  font-size: 2rem !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.zrq-page-index .zrq-transparent {
  color: #fff;
  /* background: #ffffff4d; */
  background-color: rgba(0, 0, 0, 0.53);
}

.zrq-page-index .zrq-transparent p {
  color: #fff;
}

.zrq-page-index .zrq-quote-btn {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.zrq-page-index .zrq-margin-bottom {
  margin-bottom: 2rem;
}

.zrq-page-index .zrq-link {
  color: blue;
  text-decoration: underline;
}

.zrq-page-index .zrq-center {
  text-align: center;
}

.zrq-page-index .zrq-padding-bottom {
  padding-bottom: 2rem;
}


.zrq-page-index .zrq-youtube-videos .zrq-title-color {
  color: #b91d1d
}

.zrq-page-index .zrq-youtube-videos .zrq-bottom-margin2 {
  margin-bottom: 4rem;
}

.zrq-page-index .zrq-youtube-videos .zrq-youtube-thumb {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.zrq-page-index .zrq-youtube-videos .zrq-youtube-thumb {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.zrq-page-index .zrq-youtube-videos .zrq-overlay {
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  width: 210px;
}

.zrq-page-index .zrq-youtube-videos .youtube-link img {
  transition: transform 0.2s ease-in-out;
}

.zrq-page-index .zrq-youtube-videos .youtube-link:hover img {
  transform: scale(1.1);
}

/* 
=================
audio.html
=================
*/
.zrq-page-audio .zrq-top {
  margin-top: 2rem;
}

.zrq-page-audio .zrq-audio {
  width: 100%;
}


/* 
=================
landing - concert
=================
*/
.zrq-page-events-concert .zrq-border-radius {
  border-radius: 50px;
}

.zrq-page-events-concert .zrq-black-opacity {
  color: #0000003a;
}

.zrq-page-events-concert .zrq-red {
  color: red;
  font-size: 1rem;
}

.zrq-page-events-concert .zrq-euro {
  margin-top: 10px;
}

.zrq-page-events-concert .hero-container {
  background-color: initial;
}

.zrq-page-events-concert .hero-background {
  opacity: 1;
}

.zrq-page-events-concert .zrq-hero-text {
  background-color: #25252554;
}

.zrq-page-events-concert .hero-title {
  opacity: 0.9;
}

.zrq-page-events-concert .zrq-center {
  text-align: center;
  margin-top: 3rem;
}

.zrq-page-events-concert .zrq-link {
  text-decoration: underline;
  color: blue;
}

.zrq-page-events-concert .zrq-we-have-a-gig .approach-icon-wrapper {
  float: none;
}

.zrq-page-events-concert .zrq-we-have-a-gig .fa-2x {
  font-size: 35px;
}

.zrq-page-events-concert .zrq-normal-text {
  text-transform: none;
  color: #b91d1d;
  font-style: italic;
}

.zrq-page-events-concert .zrq-previous-price {
  position: relative;
  text-decoration: line-through;
  font-size: 35px;
  top: -45px;
  color: #0000003a;
}

.zrq-page-events-concert .zrq-previous-price span {
  font-size: 15px;
  color: #0000003a;
}


.zrq-page-events-concert .zrq-soldout .price__table {
  color: rgb(170, 170, 170);
}

.zrq-page-events-concert .zrq-soldout .price__first {
  color: #af8c4560;
}

.zrq-page-events-concert .zrq-soldout .btn {
  color: red;
  background-color: rgb(247, 200, 200);
  font-size: 1rem;
}

.zrq-page-events-concert .zrq-soldout .zrq-text {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  z-index: 9999;
  transform: rotate(-25deg);
}

.zrq-page-events-concert .zrq-musicians .maintext {
  transform: translateY(-36px);
  background-color: #252525a4;
}

.zrq-page-events-concert .zrq-musicians .subtext {
  transform: translateY(0);
  background-color: #252525a4;
}

.zrq-page-events-concert .zrq-title-color {
  color: #b91d1d
}

.zrq-page-events-concert .zrq-footer .social-footer {
  height: 5rem;
}

.zrq-page-events-concert .zrq-footer .zrq-text-size {
  font-size: 1.5rem;
}

.zrq-page-events-concert .zrq-footer .email {
  color: white;
  text-decoration: underline;
}

.zrq-page-events-concert .zrq-footer .zrq-zapezape {
  width: 250px;
}

.zrq-page-events-concert .zrq-footer .zrq-top-margin {
  margin-top: 2rem;
}

.zrq-page-events-concert .zrq-socialmedia-icon {
  width: 40px;
}

.zrq-page-events-concert .zrq-europ-icon {
  width: 80px;
}

.zrq-page-events-concert .zrq-social-cenas {
  margin-top: 2rem;
}

.zrq-page-events-concert .zrq-social-cenas li {
  display: inline-block;
}

.zrq-page-events-concert .zrq-faq .zrq-badges img {
  width: 70px;
}


.zrq-page-events-concert .zrq-bottom-margin2 {
  margin-bottom: 4rem;
}

.zrq-page-events-concert .zrq-padding {
  padding: 3rem;
}

.zrq-page-events-concert .zrq-hero-image {
  background-image: url(/assets/img/2560x1200_v01.png);
}

.zrq-page-events-concert .zrq-cookies {
  margin-top: 3rem;
}

.zrq-page-events-concert .zrq-border-radius {
  border-radius: 50px;
}

.zrq-page-events-concert .zrq-payment ul {
  background-color: #f4f4f4;
}

.zrq-page-events-concert .zrq-payment .zrq-seetickets-logo img {
  width: 200px;
}

.zrq-page-events-concert .zrq-payment .zrq-star-logo img {
  background-color: #000;
  padding: 7px;
  width: 200px;
}

.zrq-page-events-concert .zrq-payment li {
  display: inline-block;
}

.zrq-page-events-concert .zrq-payment li img {
  width: 60px;
}

.zrq-page-events-concert .zrq-seetickets {
  text-align: center;
  margin-top: 1rem;
}

.zrq-page-events-concert .zrq-seetickets li {
  display: inline-block;
  padding: 15px;
}

.zrq-page-events-concert .zrq-seetickets li img {
  width: 250px;
}

.zrq-page-events-concert .zrq-seetickets .zrq-seetickets-logo img {
  background-color: white;
}

.zrq-page-events-concert .zrq-youtube-thumb {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.zrq-page-events-concert .zrq-overlay {
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  width: 210px;
}

.zrq-page-events-concert .youtube-link img {
  transition: transform 0.2s ease-in-out;
}

.zrq-page-events-concert .youtube-link:hover img {
  transform: scale(1.1);
}

.zrq-page-events-concert .zrq-padding-bottom {
  padding-bottom: 0;
}

.zrq-page-events-concert .zrq-badges {
  padding-bottom: 3rem;
}

.zrq-page-events-concert .zrq-badges img {
  width: 100px;  
}

.zrq-page-events-concert .zrq-badges .zrq-black-is-beautifull {
  background-color: #000;
}

.zrq-page-events-concert .zrq-badges .zrq-black-is-beautifull img {
  margin: 1rem; 
}


@media only screen and (max-width: 768px) {
  .zrq-page-events-concert .zrq-padding-bottom {
    padding-bottom: 6rem;
  }

  .zrq-page-events-concert .zrq-hero-image {
    background-image: url(/assets/img/750x1334_v00.png);
  }

  .zrq-page-events-concert .hero-content {
    top: 40%;
  }

  .zrq-page-events-concert .zrq-header .zrq-logo img {
    width: 100px !important;
    height: 100px !important;
  }

  .zrq-page-events-concert .zrq-german-text {
    font-size: 1.8rem !important;
  }

  .zrq-page-events-concert #venue .inner-lg {
    padding-top: 0;
  }

  .zrq-page-events-concert .zrq-seetickets {
    margin-top: 3rem;
  }

  .zrq-page-events-concert .zrq-padding {
    padding: 1rem;
  }

  .zrq-page-events-concert .zrq-overlay {
    width: 180px;
  }

  .zrq-page-events-concert .zrq-benefit {
    margin-bottom: -90px;
  }

}

/* 
=================
landing - corporate
=================
*/

.zrq-page-events-corporate .zrq-border-radius {
  border-radius: 50px;
}

.zrq-page-events-corporate .zrq-country-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.zrq-page-events-corporate .zrq-black-opacity {
  color: #0000003a;
}

.zrq-page-events-corporate .zrq-red {
  color: red;
  font-size: 1rem;
}

.zrq-page-events-corporate .zrq-euro {
  margin-top: 10px;
}

.zrq-page-events-corporate .hero-container {
  background-color: initial;
}

.zrq-page-events-corporate .hero-background {
  opacity: 1;
}

.zrq-page-events-corporate .zrq-hero-text {
  background-color: #25252554;
}

.zrq-page-events-corporate .hero-title {
  opacity: 0.9;
}

.zrq-page-events-corporate .zrq-center {
  text-align: center;
  margin-top: 3rem;
}

.zrq-page-events-corporate .zrq-link {
  text-decoration: underline;
  color: blue;
}

.zrq-page-events-corporate .zrq-we-have-a-gig .approach-icon-wrapper {
  float: none;
}

.zrq-page-events-corporate .zrq-we-have-a-gig .fa-2x {
  font-size: 35px;
}

.zrq-page-events-corporate .zrq-normal-text {
  text-transform: none;
  color: #b91d1d;
  font-style: italic;
}

.zrq-page-events-corporate .zrq-previous-price {
  position: relative;
  text-decoration: line-through;
  font-size: 35px;
  top: -45px;
  color: #0000003a;
}

.zrq-page-events-corporate .zrq-previous-price span {
  font-size: 15px;
  color: #0000003a;
}


.zrq-page-events-corporate .zrq-soldout .price__table {
  color: rgb(170, 170, 170);
}

.zrq-page-events-corporate .zrq-soldout .price__first {
  color: #af8c4560;
}

.zrq-page-events-corporate .zrq-soldout .btn {
  color: red;
  background-color: rgb(247, 200, 200);
  font-size: 1rem;
}

.zrq-page-events-corporate .zrq-soldout .zrq-text {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  z-index: 9999;
  transform: rotate(-25deg);
}

.zrq-page-events-corporate .zrq-musicians .maintext {
  transform: translateY(-36px);
  background-color: #252525a4;
}

.zrq-page-events-corporate .zrq-musicians .subtext {
  transform: translateY(0);
  background-color: #252525a4;
}

.zrq-page-events-corporate .zrq-title-color {
  color: #b91d1d
}

.zrq-page-events-corporate .zrq-footer .social-footer {
  height: 5rem;
}

.zrq-page-events-corporate .zrq-footer .zrq-text-size {
  font-size: 1.5rem;
}

.zrq-page-events-corporate .zrq-footer .email {
  color: white;
  text-decoration: underline;
}

.zrq-page-events-corporate .zrq-footer .zrq-zapezape {
  width: 250px;
}

.zrq-page-events-corporate .zrq-footer .zrq-top-margin {
  margin-top: 2rem;
}

.zrq-page-events-corporate .zrq-socialmedia-icon {
  width: 40px;
}

.zrq-page-events-corporate .zrq-social-cenas {
  margin-top: 2rem;
}

.zrq-page-events-corporate .zrq-social-cenas li {
  display: inline-block;
}



.zrq-page-events-corporate .zrq-bottom-margin2 {
  margin-bottom: 4rem;
}

.zrq-page-events-corporate .zrq-padding {
  padding: 3rem;
}

.zrq-page-events-corporate .zrq-hero-image {
  background-image: url(/assets/img/2560x1200_v01.png);
}

.zrq-page-events-corporate .zrq-cookies {
  margin-top: 3rem;
}

.zrq-page-events-corporate .zrq-border-radius {
  border-radius: 50px;
}

.zrq-page-events-corporate .zrq-payment ul {
  background-color: #f4f4f4;
}

.zrq-page-events-corporate .zrq-payment .zrq-seetickets-logo img {
  width: 200px;
}

.zrq-page-events-corporate .zrq-payment .zrq-star-logo img {
  background-color: #000;
  padding: 7px;
  width: 200px;
}

.zrq-page-events-corporate .zrq-payment li {
  display: inline-block;
}

.zrq-page-events-corporate .zrq-payment li img {
  width: 60px;
}

.zrq-page-events-corporate .zrq-seetickets {
  text-align: center;
  margin-top: 1rem;
}

.zrq-page-events-corporate .zrq-seetickets li {
  display: inline-block;
  padding: 15px;
}

.zrq-page-events-corporate .zrq-seetickets li img {
  width: 250px;
}

.zrq-page-events-corporate .zrq-seetickets .zrq-seetickets-logo img {
  background-color: white;
}

.zrq-page-events-corporate .zrq-overlay {
  width: 180px;
}

.zrq-page-events-corporate .zrq-benefit {
  margin-bottom: -90px;
}


.zrq-page-events-corporate .zrq-youtube-thumb {
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
}

.zrq-page-events-corporate .zrq-overlay {
  position: relative;
  bottom: 90px;
  margin: 0 auto;
  width: 210px;
}

.zrq-page-events-corporate .youtube-link img {
  transition: transform 0.2s ease-in-out;
}

.zrq-page-events-corporate .youtube-link:hover img {
  transform: scale(1.1);
}

.zrq-page-events-corporate .zrq-subtitle2 .zrq-zapezape {
  width: 250px;
}

.zrq-page-events-corporate .modal .modal-content {
  background-color: white;
}

.zrq-page-events-corporate .modal .modal-header {
  text-align: right;
}

.zrq-page-events-corporate .modal .modal-header h3 {
  float: left;
  margin-top: 4px;
}



@media only screen and (max-width: 768px) {
  .zrq-page-events-corporate #header {
    background-color: black;
    height: 45px;
  }

  .zrq-page-events-corporate .zrq-hero-image {
    background-image: url(/assets/img/750x1334_v00.png);
  }

  .zrq-page-events-corporate .hero-content {
    top: 40%;
  }

  .zrq-page-events-corporate .zrq-header .zrq-logo img {
    width: 100px !important;
    height: 100px !important;
  }

  .zrq-page-events-corporate .zrq-german-text {
    font-size: 1.8rem !important;
  }

  .zrq-page-events-corporate #venue .inner-lg {
    padding-top: 0;
  }

  .zrq-page-events-corporate .zrq-seetickets {
    margin-top: 3rem;
  }

  .zrq-page-events-corporate .zrq-padding {
    padding: 1rem;
  }

  .zrq-page-events-corporate .zrq-overlay {
    width: 180px;
  }

}

/* 
=================
mediakit.html
=================
*/
.zrq-page-mediakit .hero-title {
  text-align: center;
}

.zrq-page-mediakit .zrq-link {
  color: blue;
  text-decoration: underline;
}

.zrq-page-mediakit .zrq-quote {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 28px !important;
  font-style: italic !important;
  line-height: 1.25em !important;
  text-align: left !important;
  font-weight: 300 !important;
}

.zrq-page-mediakit .zrq-bullets {
  padding: revert;
}

.zrq-page-mediakit .zrq-bullets li {
  list-style-type: disc;
}

.zrq-page-mediakit .zrq-mb {
  margin-bottom: 2rem;
}


/* 
=================
contact.html
=================
*/
.zrq-page-contact .zrq-get-quote {
  text-align: center;
  margin-bottom: 5rem;
}

.zrq-page-contact .zrq-socialmedia-icon {
  width: 40px;
}

.zrq-page-contact .zrq-social-cenas {
  margin-top: 2rem;
}

.zrq-page-contact .zrq-social-cenas li {
  display: inline-block;
}

.zrq-page-contact .zrq-section-whatsapp {
  margin-bottom: 4rem;
}

.zrq-page-contact .zrq-zapezape {
  width: 250px;
}


/* 
=================
_footer.html
=================
*/
.zrq-footer .zrq-left-margin {
  left: 51px;
}

.zrq-footer .zrq-left-align {
  text-align: left;
}

.zrq-footer .social-footer {
  height: 5rem;
}

.zrq-footer .zrq-text-size {
  font-size: 1.5rem;
}

.zrq-footer .email {
  color: white;
  text-decoration: underline;
}

.zrq-footer .phone {
  color: white;
  text-decoration: underline;
}

.zrq-footer .email:hover {
  color: rgb(91, 91, 250);
}

.zrq-footer .phone:hover {
  color: rgb(91, 91, 250);
}

.zrq-footer .zrq-zapezape {
  width: 250px;
}

.zrq-footer .zrq-top-margin {
  margin-top: 2rem;
}

.zrq-footer .zrq-socialmedia-icon {
  width: 40px;
}




@media only screen and (min-width: 768px) {
  .zrq-page-index .zrq-quote-btn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .zrq-header {
    overflow: visible !important;
  }

  .zrq-header .zrq-logo {
    top: -10px;
    overflow: visible !important;
    position: relative !important;
  }
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}