@charset "UTF-8";

/* 
=================
GENERIC
=================
*/
.zrq-hide-me {
  display: none;
}

.zrq-video-center {
  text-align: center;
}

/* 
=================
_header.html
=================
*/
.zrq-header {
  width: 500px !important;
}

.zrq-header .zrq-logo {
  top: -3px;
  width: 50px !important;
  height: 50px !important;
}

.zrq-header .zrq-logo img {
  width: 50px !important;
  height: 50px !important;
}


/* 
=================
_footer.html
=================
*/
.zrq-footer .zrq-logo {
  width: 300px !important;
  height: 300px !important;
}


.zrq-footer .zrq-logo img {
  width: 300px !important;
  height: 300px !important;
}

/* 
=================
index.html
=================
*/
.zrq-page-index .zrq-hero-slider i {
  padding: 0px;
}

.zrq-page-index .zrq-hero-slider .sv-feature-headline {
  /* font-size: 2rem !important; */
  background-color: rgba(0, 0, 0, 0.5);
}

.zrq-page-index .zrq-hero-slider .sv-feature-subtitle {
  background-color: rgba(0, 0, 0, 0.5);
}

/* zrq-hero-slider for mobile */
.zrq-page-index .zrq-hero-slider.zrq-hero-slider-mobile .sv-feature-subtitle {
  font-size: 1.2rem !important;
}

/* zrq-hero-slider for mobile */
.zrq-page-index .zrq-hero-slider.zrq-hero-slider-mobile .sv-feature-headline {
  font-size: 2rem !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.zrq-page-index .zrq-transparent {
  color: #fff;
  /* background: #ffffff4d; */
  background-color: rgba(0, 0, 0, 0.53);
}

.zrq-page-index .zrq-transparent p {
  color: #fff;
}

.zrq-page-index .zrq-hero-slider .zrq-icon-tuba-transp i:before {
  content: '';
  background-image: url('../img/icons/zrq-tuba-transparent.svg');
  font-family: initial;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(108%) contrast(108%);
  background-size: 33px 33px;
  height: 33px;
  width: 33px;
  position: relative;
  padding: 0px;
  top: 3px;
  left: -1px;
}

.zrq-page-index .zrq-hero-slider .zrq-icon-trumpet-transp i:before {
  content: '';
  background-image: url('../img/icons/zrq-trumpet-transparent.svg');
  font-family: initial;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(108%) contrast(108%);
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  position: relative;
  top: 3px;
  left: -1px;
}

/* 
=================
audio.html
=================
*/
.zrq-page-audio .zrq-top {
  margin-top: 2rem;
}

.zrq-page-audio .zrq-audio {
  width: 100%;
}

/* 
=================
_footer.html
=================
*/
.zrq-footer .zrq-left-margin {
  left: 51px;
}

/* .zrq-icon-trumpet-transp i:before {
  content: '';
  font-family: initial;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(108%) contrast(108%);
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  position: relative;
  top: 3px;
  left: -1px;
  padding: 0px;
} */


/* .zrq-img-2560 { */
/* display: none; */
/* content:url("http://placehold.co/2561x1440"); */
/* } */



/* 
@media only screen and (max-width: 1200px){ 
  .zrq-img-1400, .zrq-img-2560 {
    display: none;
  }

  .zrq-img-1200{
    display: block;
  }
} */




@media only screen and (min-width: 768px) {
  #sv__logo {
    padding-right: 0;
    color: #fff;
    left: 25px;
    width: 400px;
  }

  #sv__logo h1 {
    font-size: 1.5em;
    margin-top: 28px;
  }
}

@media only screen and (max-width: 768px) {
  #sv__logo h1 {
    display: none;
  }
}