.zrq-form-quote form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #0000009e;

}


body {
    background-image: url("../../../assets/img/1921_1281_v00.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media only screen and (max-width: 800px) {

    body {
        background-image: url("../../../assets/img/1170_2532_v00.jpg");
        background-size: 100%;

    }
    
    .zrq-form-quote .zrq-logo {
        max-width: 40%;
    }

    .zrq-form-quote form {
        max-width: 100%;
    }
}