.zrq-form-quote form {
    max-width: 750px;
    margin: 0 auto;
    background-color: rgb(0 0 0 / 50%);
    margin-bottom: 8rem;
}


.zrq-form-quote {
    background-image: url("../../../assets/img/1921_1281_v00.jpg");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: 100%;
    background-color: #000;
}


.zrq-form-quote .zrq-logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }


@media only screen and (max-width: 800px) {

    .zrq-form-quote {
        background-image: url("../../../assets/img/1170_2532_v00.jpg");
        background-size: 100%;
        background-attachment: scroll;
    }
    
    .zrq-form-quote .zrq-logo {
        max-width: 90%;
    }

    .zrq-form-quote form {
        /* background-color: #000; */
        max-width: 100%;
    }
}



@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  