.zrq-form-quote form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(0 0 0 / 62%);
    margin-bottom: 8rem;
}


body {
    background-image: url("../../../assets/img/1921_1281_v00.jpg");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: 100%;
    background-color: #000;
}


@media only screen and (max-width: 800px) {

    body {
        background-image: url("../../../assets/img/1170_2532_v00.jpg");
        background-size: 100%;
        background-attachment: scroll;
    }
    
    .zrq-form-quote .zrq-logo {
        max-width: 50%;
    }

    .zrq-form-quote form {
        /* background-color: #000; */
        max-width: 100%;
    }
}